
$white: #FFFFFF;
$black: #1E1F36;
$darkGrey: #4B4C5F;
$grey: #787887;
$lightGrey: #E8E8EA;
$orange: #F47B56;
$gradient: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);

$sans-serif: "Kumbh Sans", sans-serif;

$small: 12px;
$mediumDesktop: 14px;
$mediumMobile: 13px;
$big: 32px;


$bold: 700;
$normal: 400;