html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 32px; }

h1, h2, p {
  margin: 0; }

span {
  font-family: "Kumbh Sans", sans-serif; }

button {
  padding: 0; }

.wrapper {
  display: flex;
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 148px 24px 100px; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 23px; }

.box {
  display: none; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 576px;
  padding: 28px 24px 48px;
  background: #FFFFFF;
  border-radius: 23px;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.5); }

.card__image-desktop {
  display: none; }

.card__image-mobile img {
  width: 100%;
  max-width: 240px; }
.card__image-mobile img:first-child {
  position: absolute;
  top: -19px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.card__image-mobile img:nth-child(2) {
  position: absolute;
  top: 53px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card__acc {
  width: 100%; }
  .card__acc h1 {
    margin: 104px 0 21px;
    text-align: center; }

.accordion__question {
  border-bottom: 1px solid #E8E8EA; }

.question__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 19px 0 18px 1px;
  border: none;
  background: #FFFFFF; }

.question__item-title {
  margin-right: 8px;
  color: #4B4C5F;
  font-size: 13px;
  text-align: left; }

.question__item-icon {
  align-self: flex-start;
  transition: transform 0.4s ease; }

.accordion__answer {
  display: none;
  padding-bottom: 16px; }
  .accordion__answer p {
    margin-right: 16px;
    font-size: 12px;
    line-height: 18px;
    color: #787887; }

.up {
  transform: rotate(180deg); }

.opened {
  display: block;
  transition: all 0.4s ease;
  padding-top: 7px;
  border-bottom: 1px solid #E8E8EA; }

.attribution {
  display: block;
  width: 100%;
  padding: 32px;
  color: var(--light-blue);
  text-align: center; }
  .attribution .attribution a {
    text-decoration: none;
    color: #B3B1FA; }

@media only screen and (min-width: 992px) {
  .wrapper {
    padding: 24px 56px; }

  .container {
    flex-direction: row;
    width: 100%;
    max-width: 920px; }

  .box {
    display: block;
    position: absolute;
    left: 3px;
    top: 59%;
    transform: translate(-50%, -50%);
    z-index: 2; }

  .card {
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-width: 920px;
    padding: 65px 95px 83px; }

  .card__image-desktop {
    display: block;
    width: 50%; }
    .card__image-desktop img:first-child {
      position: absolute;
      left: 17%;
      top: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 475px; }
    .card__image-desktop img:nth-child(2) {
      position: absolute;
      left: -9%;
      top: 34%;
      transform: translate(-50%, -50%); }

  .card__image-mobile {
    display: none; }

  .card__acc {
    width: 50%;
    max-width: 350px; }
    .card__acc h1 {
      margin: 0 0 26px;
      text-align: left; }

  .question__item-title {
    font-size: 14px; }
    .question__item-title:hover {
      color: #F47B56;
      cursor: pointer; }

  .question__item-icon {
    margin-right: 16px; }

  .accordion__answer p {
    margin-right: 31px; }

  .attribution a:hover {
    color: #FFFFFF;
    cursor: pointer; } }
@media only screen and (max-width: 991px) and (min-width: 480px) {
  .card {
    padding: 28px 48px 48px; } }

/*# sourceMappingURL=style.css.map */
